<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more d-none d-lg-block">
            <img src="./assets/icons/more.svg" alt="" class="top-bar__more-icon icon js-toggle"
                toggle-target="#navbar" />
        </button>
        <!-- Logo -->
        <a href="./" class="logo top-bar__logo">
            <img src="./assets/icons/logo-2.png" width="70" height="70" alt="grocerymart"
                class="logo__img top-bar__img" />
            <h1 class="logo__title top-bar__title"></h1>
        </a>

        <!-- NavBar -->
        <nav id="navbar" class="navbar hide">
            <button class="navbar__back js-toggle" toggle-target="#navbar">
                <img src="./assets/icons/arrow-left.svg" alt="" class="icon" />
            </button>

            <a href="#!" class="nav-btn d-none d-sm-flex">
                <img src="./assets/img/icon-navbar/buy.svg" alt="" class="icon" />
                <span class="nav-btn__title">Cart</span>
                <span class="nav-btn__qnt">3</span>
            </a>
            <a href="#!" class="nav-btn d-none d-sm-flex">
                <img src="./assets/icons/hearth.svg" alt="" class="icon" />
                <span class="nav-btn__title">Private</span>
                <span class="nav-btn__qnt">3</span>
            </a>

            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="./" class="navbar__link">
                        Trang chủ
                    </a>

                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Games

                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Nhân vật
                    </a>
                </li>
            </ul>
        </nav>

        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

        <!-- Actions -->
        <div class="top-act">
            <a href="./sign-in.html" class="btn btn--text d-md-none">Đăng Nhập</a>
            <a href="./sign-up.html" class="btn btn--primary top-act__btn btn-not-margin">Đăng Ký</a>
        </div>
    </div>
</div>