<div class="container">
    <div class="top-bar">
        <!-- More -->
        <button class="top-bar__more d-none d-lg-block">
            <img src="./assets/icons/more.svg" alt="" class="top-bar__more-icon icon js-toggle"
                toggle-target="#navbar" />
        </button>
        <!-- Logo -->
        <a href="./" class="logo top-bar__logo">
            <img src="./assets/icons/logo-2.png" width="70" height="70" alt="grocerymart"
                class="logo__img top-bar__img" />
            <h1 class="logo__title top-bar__title"></h1>
        </a>

        <!-- NavBar -->
        <nav id="navbar" class="navbar hide">
            <button class="navbar__back js-toggle" toggle-target="#navbar">
                <img src="./assets/icons/arrow-left.svg" alt="" class="icon" />
            </button>

            <a href="./checkout.html" class="nav-btn d-none d-sm-flex">
                <img src="./assets/img/icon-navbar/buy.svg" alt="" class="icon" />
                <span class="nav-btn__title">Giỏ hàng</span>
                <span class="nav-btn__qnt">3</span>
            </a>
            <a href="./favourite.html" class="nav-btn d-none d-sm-flex">
                <img src="./assets/icons/hearth.svg" alt="" class="icon" />
                <span class="nav-btn__title">Yêu thích</span>
                <span class="nav-btn__qnt">3</span>
            </a>

            <ul class="navbar__list js-dropdown-list">
                <li class="navbar__item">
                    <a href="./" class="navbar__link">
                        Trang Chủ
                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Games

                    </a>
                </li>
                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Nhân vật

                    </a>
                </li>

                <li class="navbar__item">
                    <a href="#!" class="navbar__link">Về chúng tôi

                    </a>
                </li>
            </ul>
        </nav>

        <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>

        <!-- Actions -->
        <div class="top-act">
            <div class="top-act__group top-act__group-single">
                <button class="top-act__btn">
                    <img src="./assets/icons/search.svg" alt="" class="top-act__icon icon" />
                </button>
            </div>

            <div class="top-act__group d-md-none">
                <div class="top-act__btn-wrap top-act__favourite">
                    <button class="top-act__btn">
                        <img src="./assets/icons/hearth.svg" alt="" class="top-act__icon icon" />
                        <span class="top-act__title">01</span>
                    </button>

                    <!-- top action dropdown -->
                    <div class="dropdown-cart">
                        <div class="dropdown-cart__inner">
                            <img src="./assets/icons/dropdown-arrow.svg" alt="" class="dropdown-cart__img" />
                            <div class="dropdown-cart__row">
                                <h2 class="dropdown-cart__heading">Bạn có 1 sản phẩm</h2>
                                <a href="./favourite.html" class="dropdown-cart__view-all">Xem</a>
                            </div>
                            <div class="dropdown-cart__wrap">
                                <div class="row row-cols-3 gx-2">
                                    <!-- drop down item cart 1 -->
                                    <div class="col">
                                        <article class="dropdown-cart__item">
                                            <div class="dropdown-cart__thumb">
                                                <img src="./assets/img/product/10326029.png" alt=""
                                                    class="dropdown-cart__thumb-img" />
                                            </div>
                                            <h4 class="dropdown-cart__item-title">Áo thun Board Game Đảo - Phiên bản
                                                nhân vật</h4>
                                            <span class="dropdown-cart__item-price">199.000đ</span>
                                        </article>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown-cart__separate"></div>

                            <div class="dropdown-cart__checkout">
                                <a href="./checkout.html" class="btn btn--primary btn--rounded">Thanh toán tất cả</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-act__separate"></div>
                <div class="top-act__btn-wrap top-act__buy">
                    <button class="top-act__btn">
                        <img src="./assets/img/buy.svg" alt="" class="top-act__icon icon" />
                        <span class="top-act__title">2.000.000đ</span>
                    </button>
                    <!-- top action dropdown -->
                    <div class="dropdown-cart">
                        <div class="dropdown-cart__inner">
                            <img src="./assets/icons/dropdown-arrow.svg" alt="" class="dropdown-cart__img" />
                            <div class="dropdown-cart__row">
                                <h2 class="dropdown-cart__heading">Bạn có 1 sản phẩm</h2>
                                <a href="./checkout.html" class="dropdown-cart__view-all">Xem</a>
                            </div>
                            <div class="dropdown-cart__wrap">
                                <div class="row row-cols-3 gx-2">
                                    <!-- drop down item cart 2 -->
                                    <div class="col">
                                        <article class="dropdown-cart__item">
                                            <div class="dropdown-cart__thumb">
                                                <img src="./assets/img/product/bobo.png" alt=""
                                                    class="dropdown-cart__thumb-img" />
                                            </div>
                                            <h4 class="dropdown-cart__item-title">Board Game Đảo</h4>
                                            <span class="dropdown-cart__item-price"> 2.000.000đ</span>
                                        </article>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown-cart__checkout">
                                <a href="./checkout.html" class="btn btn--primary btn--rounded">Thanh toán tất cả</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="top-act__user">
                <img src="./assets/img/product/card/Untitled-1-01.jpg" alt="" class="top-act__avatar" />

                <!-- top action dropdown user-->
                <div class="top-act__dropdown">
                    <div class="dropdown-cart__inner">
                        <img src="./assets/icons/dropdown-arrow.svg" alt=""
                            class="dropdown-cart__img top-act__dropdown-arrow" />

                        <div class="user-menu">
                            <div class="user-menu__wrap">
                                <img src="./assets/img/product/card/Untitled-1-01.jpg" alt=""
                                    class="user-menu__avatar" />

                                <div>
                                    <h2 class="user-menu__name">Tfeww</h2>
                                    <p class="user-menu__username">@tfeww9123</p>
                                </div>
                            </div>

                            <ul class="user-menu__list">
                                <li>
                                    <a href="./profile.html" class="user-menu__link">Thông tin cá nhân</a>
                                </li>

                                <li>
                                    <a href="./favourite.html" class="user-menu__link">Sản phẩm yêu thích</a>
                                </li>

                                <li class="user-menu__separate">
                                    <a href="#!" class="user-menu__link" id="switch-theme-btn">
                                        <span>Dark mode</span>
                                        <img src="./assets/icons/light.svg" alt="" class="user-menu__icon icon" />
                                    </a>
                                </li>

                                <li class="user-menu__separate">
                                    <a href="./sign-in.html" class="user-menu__link">
                                        Đăng xuất
                                        <img src="./assets/icons/logout.svg" alt="" class="user-menu__icon icon" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>